html {
    scroll-behavior: smooth;
}

body {
    font-family: "Pretendard", sans-serif !important;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.gnb-menu li {
    position: relative;
}
.gnb-menu li.active {
    color: #5200E9;
    font-weight: bold;
}
.gnb-menu button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}